<div class="list-group">
    <a class="list-group-item list-group-item-action list-group-item-info" href="/report/open">Keluhan Terbuka</a>
    <a class="list-group-item list-group-item-action list-group-item-info" href="/report/close">Keluhan Selesai</a>    
    <%if(user['role'] == 2){%>
    <a class="list-group-item list-group-item-action list-group-item-info" href="/">Laporan Keluhan</a>
    <a class="list-group-item list-group-item-action list-group-item-info" href="/kategori">Kelola Kategori</a>
    <a class="list-group-item list-group-item-action list-group-item-info" href="/unit">Kelola Unit</a>
    <%} else {%>
        <a class="list-group-item list-group-item-action list-group-item-info" href="/">Input Keluhan Baru</a>
    <%}%>
    </div>