<ul id="slide-out" class="sidenav sidenav-fixed">
    <li><a href="/report/open">Keluhan Terbuka</a></li>
    <li><a href="/report/close">Keluhan Selesai</a></li>
    <%if(user['role'] == 2){%>
    <li><a href="/">Laporan Keluhan</a></li>
    <li class="divider"></li>
    <li><a href="/kategori">Kelola Kategori</a></li>
    <li><a href="/unit">Kelola Unit</a></li>
    <%}%>
</ul>