<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
  <style>
    header, main, footer {
      padding-left: 300px;
    }

    @media only screen and (max-width : 992px) {
      header, main, footer {
        padding-left: 0;
      }
    }
  </style>
</head>
<body>
  <header>
    <% include partials/navbar %>
    <% include partials/sidenav %>
  </header>
  <main>
    <div class="content valign-wrapper">
      <div class="container">
      <% if(user){%>
        <div class="row">
          <div class="col s12">
            <h4 class="center-align">Kelola Kategori</h4>
            <div class="collection">
              <div class="row collection-item black-text">
                <div class="col s2 m1"><b>No</b></div>
                <div class="col s7 m9 truncate"><b>Nama Kategori</b></div>
                <div class="col s3 m2"><b>Action</b></div>
              </div>
              <%for(var i = 0; i < kategori.length; i++){%>
              <div class="row collection-item black-text">
                <div class="col s2 m1"><%=(i + 1)%></div>
                <div class="col s7 m9 truncate"><%=kategori[i].categoryName%></div>
                <div class="col s3 m2"><a class="btn btn-small waves-effect waves-light red" href="/kategori/<%=kategori[i].categoryId%>/delete"><i class="material-icons">delete</i></a></div>
              </div>
              <%}%>
              <div class="collection-item center-align">
                <button class="btn waves-effect waves-light deep-orange modal-trigger" data-target="kategori"><i class="material-icons left">add</i>Kategori Baru</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal modal-fixed-footer" id="kategori">
          <form method="post">
            <div class="modal-content">
              <h4 class="center-align">Tambah Kategori</h4>
              <div class="row">
                <div class="input-field col s12">
                  <input id="nama" name="nama" type="text" class="validate" required>
                  <label class="active" for="nama">Nama Kategori</label>
                </div>
              </div>
            </div>
            <div class="modal-footer">
              <button class="modal-close waves-effect waves-light btn-flat left" type="button">Batal</button>
              <button class="waves-effect waves-light btn-flat teal white-text right" type="submit">Kirim</button>
            </div>
          </form>
        </div>
        <%}%>
      </div>
    </div>
  </main>
  <footer>
    
  </footer>
  <% include partials/script %>
</body>
</html>