<!DOCTYPE html>
<html lang="en">
<head>
  <% include partials/head %>
</head>
<body>
  <header>

  </header>
  <main>
    <div class="container">
      <%if(typeof result != 'undefined'){%>
      <div class="position-relative row">
        <div class="position-absolute col-12">
          <div class="alert alert-<%=(result.status) ? 'success' : 'danger'%> alert-dismissible fade show" role="alert">
            <%=result.message%>
            <button type="button" class="close" data-dismiss="alert" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
        </div>
      </div>
      <%}%>
      <div class="row justify-content-center align-items-center" style="height:100vh">
        <div class="col-sm-12 col-md-8 col-lg-6">
          <div class="card shadow">
            <div class="card-header text-center">
              <h5 class="mb-0"><%=page%></h5>
            </div>
            <div class="card-body">
              <form method="post">
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <select name="gender" id="gender" class="form-control" required>
                      <option value="" disabled selected>Pilih Titel</option>
                      <option value="1">Bapak</option>
                      <option value="2">Ibu</option>
                    </select>
                  </div>
                  <div class="form-group col-md-9">
                    <input id="nama" name="nama" type="text" class="form-control" placeholder="Nama" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-3 col-form-label" for="username">Username</label>
                  <div class="col-sm-8 col-md-9">
                    <input id="username" name="username" type="text" class="form-control" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-3 col-form-label" for="email">Email</label>
                  <div class="col-sm-8 col-md-9">
                    <input id="email" name="email" type="email" class="form-control" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-3 col-form-label" for="telp">Telepon</label>
                  <div class="col-sm-8 col-md-9">
                    <input id="telp" name="telp" type="tel" class="form-control" required>
                  </div>
                </div>
                <div class="form-group row">
                  <label class="col-sm-4 col-md-3 col-form-label" for="password">Password</label>
                  <div class="col-sm-8 col-md-9">
                    <input id="password" name="password" type="password" class="form-control" required>
                  </div>
                </div>
                <p class="text-center">
                  <small>Already have an account, <a href="/login">Login here</a></small>
                </p>
                <div class="row">
                  <div class="col-sm-12">
                    <button type="submit" class="btn btn-primary btn-block">Sign Up</button>
                  </div>
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
  <footer>
    
  </footer>
  <% include partials/script %>
</body>
</html>